{% load static %}
<section class="section-padding ash-white-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading text-center">
          <h2 class="section-title">
            Welcome to <span class="base-color">Al-Amal</span>
          </h2>
          <span class="section-sub-title">
            We are a non-profit organization based in Abuja, Nigeria.
          </span>
          <div class="section-heading-separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-md-6">
                <div class="about-us-carousel mb30">
                    <div>
                        <img src="{% static 'images/about/carousel1.jpg' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'images/about/carousel2.jpg' %}" alt="">
                    </div>
                    <div>
                        <img src="{% static 'images/about/carousel3.jpg' %}" alt="">
                    </div>
                </div>
            </div> -->
      <div class="col-md-10">
        <div class="about-us-text-content mb30">
          <!-- who we are -->
          <h3 class="text-center">WHO WE ARE</h3>
          <p>
            We Work to Deliver Essentials and Give Hope to the Poor, Needy and
            Marginalized. We believe that Education remains the most important
            and valuable asset to our Main Objective of Developing Opportunities
            for the targeted Rural Communities, hence our scholarship Programme
            for the Orphans, and the educational support project for Nomadic
            schools.
          </p>
          <!-- Where we started -->
          <h3 class="text-center">WHERE WE started</h3>
          <p>
            Against the backdrop of humanitarian crises, a diverse group of
            professionals and community leaders came together to discuss how
            they could leverage their collective assets and energy to improve
            the living conditions of these needy individuals especially the
            rural and nomadic populous . From these Conversations Came the need
            for AL- AMAL INITIATIVE , Since then, AL-MAL INITIATIVE (AI) has
            achieved an impressive record of success while serving some of the
            most vulnerable populations including refugees, internally displaced
            persons (IDPs) and residents of rural areas by offering Scholarships
            to pupils of primary schools as well as advocacy for girl child
            education ,vocational training for rural women.etc . . In seeking to
            nurture these communities, the organization has focused on providing
            both immediate crisis reliefs in the form of food, clothes and
            medical carnivals, as well as long term development in the form of
            education, self-sufficiency projects, and access to potable water.
            To allow AL-AMAL INITIATIVE (AI) to better support and understand
            the communities it serves, the organization opened a network of
            field Volunteers across the rural area and has cultivated
            partnerships with local community leaders ,the youth , women leaders
            as well as religious leaders being important agents of change.
          </p>
          <!-- aims and objectives -->
          <h3 class="text-center">Aims and Objectives</h3>
          <p>The aims and objectives of the organization are:</p>
          <ul class="fund-arrow-left-list pdb10">
            <li>
              To help Orphans ,Children of Special Needs and the Less privileged
              of the forgotten rural populous .
            </li>
            <li>
              To provide proper health care to the less privileged children
            </li>
            <li>
              To promote the welfare of the underprivileged ,the orphans and
              those in need
            </li>
            <li>
              To facilitate access to education for the under privileged, the
              orphans and those in need .
            </li>
            <li>
              To promote the welfare of the underprivileged by providing those
              things that are considered the basic necessities of life-food,
              clothing, improvement on accommodation and shelter
            </li>
            <li>
              To build the minds of young persons and sensitize them for a
              better society with diverse culture, religious tolerance and
              understanding of their differences.
            </li>
          </ul>
          <!-- mission -->
          <h3 class="text-center">MISSION</h3>
          <p>
            To strive to alleviate the suffering from hunger, illiteracy,
            diseases, and poverty in the Rural areas wherever possible to reach.
          </p>
          <!-- vision -->
          <h3 class="text-center">VISION</h3>
          <p>
            Many of us take for granted the blessings we have in our lives such
            as food, clean drinking water, clothing, shelter and good
            health..etc. While so many people throughout the world can barely
            feed themselves and their families. Based on Islam, the best deeds
            for a Muslim, are those which continue to benefit Other People far
            beyond his or her years spent in this World.
          </p>
          <p>
            Therefore our vision in Al-Amal Initiatives includes the following:
          </p>
          <ul class="fund-arrow-left-list pdb10">
            <li>Dignity is more important to the human spirit than wealth</li>
            <li>
              Neither grants nor markets alone will solve the problems of
              poverty
            </li>
            <li>Great technology alone is not the answer</li>
            <li>
              There is no currency like trust and there are no shortcuts to
              earning it.
            </li>
            <li>
              Poverty is a description of someone economic deprivation, it does
              not describe who someone really is.
            </li>
          </ul>
          <!-- The difference -->
          <h3 class="text-center">The Amal Initiative (AI) Difference</h3>
          <p>
            AL-AMAL INITIATIVE (AI) ‘s presence not just to serve communities in
            need, but rather to impact its supporters’ and founders’ own
            communities in need. Staff of the organization speak the languages
            of the Localities, understand the cultural context, know the
            challenges at stake, and are passionate about empowering and
            sustaining their brothers and sisters. The organization has talented
            and dedicated teams who go out into the field to forge the
            relationships with communities .This is the main reason behind the
            Success of AL-AMAL INITIATIVE (AI)’s programs in addressing the
            Basic Needs Of its target Communities. AL-AMAL INITIATIVE is a
            registered nonprofit, tax-exempted organization based in the Federal
            Capital Territory, Abuja ,Nigeria.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
